.b-catalog_entry .cover .image-cutter::before{
  content:'';
  display:block;
  padding-bottom:155.5%
}
.b-catalog_entry .cover .image-cutter img{
  position:absolute;
  top:0;
  right:-100%;
  left:-100%;
  width:100%;
  min-width:100%;
  max-width:none;
  height:100%;
  min-height:100%;
  margin:auto
}


.b-catalog_entry .cover .image-cutter img {
    border: 1px solid var(--color-border);
}

.b-catalog_entry.planned .image-decor::after{
    content: 'alarm';
    color: blue;
}
.b-catalog_entry.watching .image-decor::after{
    content: 'play_circle_outline';
    color: darkblue;
}
.b-catalog_entry.completed .image-decor::after{
    content: 'check_circle_outline';
    color: green;
}
.b-catalog_entry.rewatching .image-decor::after{
    content: 'cashed';
    color: darkgreen;
}
.b-catalog_entry.on_hold .image-decor::after{
    content: 'alarm_off';
    color: gray;
}
.b-catalog_entry.dropped .image-decor::after{
    content: 'highlight_off';
    color: red;
}

.user_rates-minified .b-catalog_entry.planned .image-decor::after, .user_rates-minified .b-catalog_entry.watching .image-decor::after, .user_rates-minified .b-catalog_entry.completed .image-decor::after, .user_rates-minified .b-catalog_entry.rewatching .image-decor::after, .user_rates-minified .b-catalog_entry.on_hold .image-decor::after, .user_rates-minified .b-catalog_entry.dropped .image-decor::after {
    width: 24px;
    line-height: 24px;
    font-size: 24px;
}

.b-catalog_entry.planned .image-decor::after, .b-catalog_entry.watching .image-decor::after, .b-catalog_entry.completed .image-decor::after, .b-catalog_entry.rewatching .image-decor::after, .b-catalog_entry.on_hold .image-decor::after, .b-catalog_entry.dropped .image-decor::after {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.user_rates-minified .b-catalog_entry.planned .image-decor::before, .user_rates-minified .b-catalog_entry.watching .image-decor::before, .user_rates-minified .b-catalog_entry.completed .image-decor::before, .user_rates-minified .b-catalog_entry.rewatching .image-decor::before, .user_rates-minified .b-catalog_entry.on_hold .image-decor::before, .user_rates-minified .b-catalog_entry.dropped .image-decor::before {
    border-left: 1px solid var(--color-border) !important;
    border-bottom: 1px solid var(--color-border) !important;
    border: 1px solid transparent;
    background: var(--color-menu) !important;
    -webkit-border-radius: 0 4px 0 10px;
    border-radius: 0 4px 0 10px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    content: '';
    z-index: 1;
    right: 0;
    top: 0;
}

.b-catalog_entry.planned .image-decor::before, .b-catalog_entry.planned .image-decor::after, .b-catalog_entry.watching .image-decor::before, .b-catalog_entry.watching .image-decor::after, .b-catalog_entry.completed .image-decor::before, .b-catalog_entry.completed .image-decor::after, .b-catalog_entry.rewatching .image-decor::before, .b-catalog_entry.rewatching .image-decor::after, .b-catalog_entry.on_hold .image-decor::before, .b-catalog_entry.on_hold .image-decor::after, .b-catalog_entry.dropped .image-decor::before, .b-catalog_entry.dropped .image-decor::after {
    position: absolute;
    right: -1px;
    top: 1px;
}

.b-catalog_entry.planned .image-decor::before, .b-catalog_entry.watching .image-decor::before, .b-catalog_entry.completed .image-decor::before, .b-catalog_entry.rewatching .image-decor::before, .b-catalog_entry.on_hold .image-decor::before, .b-catalog_entry.dropped .image-decor::before {
    border-left: 1px solid var(--color-border) !important;
    border-bottom: 1px solid var(--color-border) !important;
    border: 1px solid transparent;
    background: var(--color-menu) !important;
    -webkit-border-radius: 0 4px 0 10px;
    border-radius: 0 4px 0 10px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    content: '';
    z-index: 1;
    right: 0;
    top: 0;
}
