.block:last-child {
    margin-bottom: 0 !important;
}

/* писать */
.b-shiki_editor .body .editor textarea {
    background-color: var(--color-menu);
    border-top: 1px solid var(--color-border) !important;
    border-bottom: 1px solid var(--color-border) !important;
    border: 0;
    border-radius: var(--br);
    -webkit-border-radius: var(--br);
    max-height: 417px;
    min-height: 31px;
}
/* писать */
