




/* редизайн */
@media only screen and (min-width: 768px) {
  .p-profiles-show .profile-content .cc-2 > .c-column {
    width: 100%;
  }

  .p-profiles-show .profile-content .cc-2 > .c-left {
    position: relative;
    width: 77%;
    padding-right: 30px;
    margin-right: 0;
    z-index: 1;
  }

  .p-profiles-show .lifetime {
    margin-bottom: 15px;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right {
    float: none;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a {
    width: 23%;
    overflow: hidden;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column {
    width: 100%;
    margin: 0;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column:last-child {
    margin-top: 15px;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right > .block:last-child {
    clear: both;
  }
}
/* редизайн */





body {
    background: var(--color-background);
}

.l-page {
    background: var(--color-menu);
    margin: 70px auto 20px;
    border-radius: var(--br);
}
#profiles_show .l-page {
    margin-top: 70px !important;
    padding: 0 !important;
    background-color: transparent;
}

.avatar img {
    border-radius: 50%;
}

.b-user.avatar img:hover, .b-user.named_avatar img:hover, .b-user.avatar_fixed_margin img:hover {
    border: 2px solid var(--color-main);
}
.b-user.avatar img, .b-user.named_avatar img, .b-user.avatar_fixed_margin img {
    display: block;
    line-height: 0;
    margin: 0px auto;
    max-width: 100%;
    border: 2px solid var(--color-menu);
    transition: .5s;
}

img {
    border-radius: var(--br);
}

.headline>a:before, .midheadline>a:before, .subheadline>a:before {
    display: none;
}

.headline>a, .midheadline>a, .subheadline>a {
    padding-right: 0;
}

.headline, .midheadline, .subheadline {
    border: 1px solid var(--headline-border-color);
    text-align: center;
    border-radius: var(--br);
    color: var(--color-main);
}

#cutted_covers_1 .image-cutter {
    max-width: none !important;
    max-height: none !important;
    border-radius: var(--br);
}

.b-shiki_editor .body .editor textarea {
    background-color: var(--color-menu);
    border: 1px solid #ddd;
    color: #123;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: 27px;
    margin: 0;
    padding: 0 7px;
    width: 100%;
    -webkit-appearance: none;
    line-height: 1.65;
    max-height: 417px;
    min-height: 89px;
    padding: 3px 7px 5px;
    resize: none;
    width: 100%;
    position: relative;
}






/* изменение заголовков */
.p-profiles .lifetime .title>.label::before {
    content: 'Активность';
    display: block;
    font-size: 13px;
    line-height: 1.65;
}

.p-profiles-show[data-locale='ru'] .profile-content .activity .title::after {
    content: 'График активности';
    font-size: 13px;
    line-height: 1.65;
}

.p-profiles .lifetime .title>.label {
    font-size: 0;
    line-height: 0;
}

.p-profiles-show[data-locale='ru'] .profile-content .activity .title {
    font-size: 0;
    line-height: 0;
}

.b-stats_bar .title {
    color: var(--color-text-hint);
}

.p-profiles .profile-head .c-info .c-additionals b::after {
    content: 'Активность на сайте:';
    font-size: 13px;
}

.p-profiles .profile-head .c-info .c-additionals b {
    font-size: 0;
}
/* изменение заголовков */







/* profile-head*/


.profile-head {
    display: grid;
    grid-template-columns: 3fr 300px;
    grid-template-rows: 84px 176px;
    grid-gap: 20px;
    grid-template-areas:
        'brief x3'
        'info x3';
}

	.p-profiles .profile-head .c-brief {
	    margin-bottom: 0;
	    display: flex;
	    padding: 12px 0;
	    text-align: left;
	    height: 84px;
	    grid-area: brief;
	    padding: 15px;
	    border-radius: var(--br);
	    box-shadow: 0 0 3px 0px #00000080;
        background-color: var(--color-menu);
	}
    

.p-profiles .profile-head .c-brief header {
    margin-bottom: 0px;
}




.p-profiles .profile-head .c-brief .avatar:hover .profile-actions {
    visibility: visible;
    top: 0;
}
.p-profiles .profile-head .c-brief .avatar .profile-actions {
    margin-top: 5px;
    text-align: center;
    visibility: hidden;
    transition: .5s;
    position: relative;
    top: -40px;
}

.c-brief .avatar img {
    position: relative;
    top: 30px;
    transition: .5s;
    z-index: 1;
}

.c-brief .avatar:hover img {
    top: 0px;
}





.p-profiles .profile-head .c-brief .avatar {
	        flex-shrink: 0;
		    align-self: flex-end;
            margin: 0px 20px 0px 0;
		}

			.p-profiles .profile-head .c-brief .avatar img {
	    	    box-shadow: 0 0 3px 0px #00000080;
			}

	.p-profiles .profile-head .c-info {
	    grid-area: info;
        padding: 20px;
        border-radius: var(--br);
        box-shadow: 0 0 3px 0px #00000080;
        background-color: var(--color-menu);
	}

		.p-profiles .profile-head .c-info .c-additionals {
		    margin-bottom: 0;
		}

        .b-stats_bar.anime .bar .first,
		.b-stats_bar.manga .bar .first {
		    background-color: var(--color-main-hover) !important;
		}

        .b-stats_bar.anime .bar .second,
		.b-stats_bar.manga .bar .second {
		    background-color: var(--color-main) !important;
		}		
	
		.b-stats_bar .bar {
    		height: 10px;
            line-height: 10px;
		}

		.b-stats_bar .bar .first, .b-stats_bar .bar .second, .b-stats_bar .bar .third {
		    color: transparent;
		}


.b-stats_bar .stat_names .stat_name:after, .b-stats_bar .stat_names .stat_name .size:before, .b-stats_bar .stat_names .stat_name .size:after{
    display: none; 
}

.b-stats_bar .stat_names .stat_name {
    display: inline-block;
    border: 2px solid var(--color-main-10);
    margin-right: 5px;
    margin-top: 7px;
    padding: 0 5px;
    border-radius: var(--br);
    transition: .2s;
}

.b-stats_bar .stat_names .stat_name a {
    color: var(--color-text-hint);
}

.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
    margin-bottom: 7px;
}

.b-stats_bar .stat_name[data-type="planned"]:hover, .b-stats_bar .stat_name[data-type="watching,rewatching"]:hover{
    border-color: var(--color-main);
}

.b-stats_bar .stat_name[data-type="completed"]:hover{
    border-color: var(--color-main-hover);
}

.b-stats_bar .stat_name[data-type="on_hold"]:hover, .b-stats_bar .stat_name[data-type="dropped"]:hover{
    border-color: var(--color-border);
}

.b-stats_bar .bar .third {
    background: var(--color-border);
}










	.p-profiles .profile-head .c-history.x3 {
	    grid-area: x3;
	    margin: 0;
	    width: 100%;
        overflow: hidden;
        padding: 20px;
  	    border-radius: var(--br);
  	    box-shadow: 0 0 3px 0px #00000080;
        background-color: var(--color-menu);
	}

		.p-profiles .profile-head .c-history .entry {
		    border-top: 1px solid var(--color-background);
		}
/* profile-head end*/


/* cc-2 */
.cc-2.block {
    margin-bottom: 20px !important;
}

.p-profiles-show .profile-content .cc-2 > .c-left {
    width: calc(100% - 320px) !important;
    margin-right: 20px !important;
    margin-bottom: 20px;
    background-color: var(--color-menu);
    padding: 20px 20px 10px !important;
    border-radius: var(--br);
    box-shadow: 0 0 3px 0px #00000080;
}

.p-profiles-show .profile-content .cc-2 > .c-right .cc-2a {
    width: 300px !important;
    background-color: var(--color-menu);
    padding: 20px 20px 20px;
    border-radius: var(--br);
    box-shadow: 0 0 3px 0px #00000080;
    margin-bottom: 20px !important;
}

.p-profiles-show .lifetime .cuts .cut {
    background: transparent;
    border: 2px solid var(--color-menu);
    height: 10px;
    position: absolute;
    width: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.b-stats_bar .bar {
    overflow: visible;
}

.p-profiles-show .lifetime .bar {
    height: 10px;
    line-height: 10px;
}
.b-stats_bar.lifetime .bar .first {
    background: var(--color-main);
}
/*анимация*/
.c-left:hover .lifetime {
    height: 56px;
}
.p-profiles-show .lifetime {
    line-height: 1.65;
    position: relative;
    height: 0;
    overflow: hidden;
    min-height: 0;
    transition: 0.75s;
    margin-bottom: 0 !important;
}

.p-profiles-show .profile-content .c-left:hover .graph {
    height: 96px;
}

.p-profiles-show .profile-content .graph {
    height: 152px; 
    transition: 0.75s;
}
/*анимация*/

.line:nth-child(odd)>.bar-container>.bar, .line:nth-child(odd)>.bar-container>.bar:hover {
    background-color: var(--color-main);
}

.line:nth-child(even)>.bar-container>.bar, .line:nth-child(even)>.bar-container>.bar:hover {
    background-color: var(--color-main-hover);
}

.bar.vertical .line .bar-container .bar {
    width: 10px;
    margin: 0 calc((100% - 10px)/2);
}

.p-profiles-show .profile-content .graph.x34 {
    margin-bottom: 20px;
}

.bar.vertical {
    border-bottom: 1px solid var(--color-border);
}

.b-catalog_entry .cover .image-cutter img {
    width: 100%;
    border: 1px solid var(--color-border);
}

.b-catalog_entry.planned .image-decor::after{
    content: 'alarm';
    color: blue;
}
.b-catalog_entry.watching .image-decor::after{
    content: 'play_circle_outline';
    color: darkblue;
}
.b-catalog_entry.completed .image-decor::after{
    content: 'check_circle_outline';
    color: green;
}
.b-catalog_entry.rewatching .image-decor::after{
    content: 'cashed';
    color: darkgreen;
}
.b-catalog_entry.on_hold .image-decor::after{
    content: 'alarm_off';
    color: gray;
}
.b-catalog_entry.dropped .image-decor::after{
    content: 'highlight_off';
    color: red;
}

.user_rates-minified .b-catalog_entry.planned .image-decor::after, .user_rates-minified .b-catalog_entry.watching .image-decor::after, .user_rates-minified .b-catalog_entry.completed .image-decor::after, .user_rates-minified .b-catalog_entry.rewatching .image-decor::after, .user_rates-minified .b-catalog_entry.on_hold .image-decor::after, .user_rates-minified .b-catalog_entry.dropped .image-decor::after {
    width: 24px;
    line-height: 24px;
    font-size: 24px;
}

.b-catalog_entry.planned .image-decor::after, .b-catalog_entry.watching .image-decor::after, .b-catalog_entry.completed .image-decor::after, .b-catalog_entry.rewatching .image-decor::after, .b-catalog_entry.on_hold .image-decor::after, .b-catalog_entry.dropped .image-decor::after {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.user_rates-minified .b-catalog_entry.planned .image-decor::before, .user_rates-minified .b-catalog_entry.watching .image-decor::before, .user_rates-minified .b-catalog_entry.completed .image-decor::before, .user_rates-minified .b-catalog_entry.rewatching .image-decor::before, .user_rates-minified .b-catalog_entry.on_hold .image-decor::before, .user_rates-minified .b-catalog_entry.dropped .image-decor::before {
    border-left: 1px solid var(--color-border) !important;
    border-bottom: 1px solid var(--color-border) !important;
    border: 1px solid transparent;
    background: var(--color-menu) !important;
    -webkit-border-radius: 0 4px 0 10px;
    border-radius: 0 4px 0 10px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    content: '';
    z-index: 1;
    right: 0;
    top: 0;
}

.b-catalog_entry.planned .image-decor::before, .b-catalog_entry.planned .image-decor::after, .b-catalog_entry.watching .image-decor::before, .b-catalog_entry.watching .image-decor::after, .b-catalog_entry.completed .image-decor::before, .b-catalog_entry.completed .image-decor::after, .b-catalog_entry.rewatching .image-decor::before, .b-catalog_entry.rewatching .image-decor::after, .b-catalog_entry.on_hold .image-decor::before, .b-catalog_entry.on_hold .image-decor::after, .b-catalog_entry.dropped .image-decor::before, .b-catalog_entry.dropped .image-decor::after {
    position: absolute;
    right: -1px;
    top: 1px;
}

.b-catalog_entry.planned .image-decor::before, .b-catalog_entry.watching .image-decor::before, .b-catalog_entry.completed .image-decor::before, .b-catalog_entry.rewatching .image-decor::before, .b-catalog_entry.on_hold .image-decor::before, .b-catalog_entry.dropped .image-decor::before {
    border-left: 1px solid var(--color-border) !important;
    border-bottom: 1px solid var(--color-border) !important;
    border: 1px solid transparent;
    background: var(--color-menu) !important;
    -webkit-border-radius: 0 4px 0 10px;
    border-radius: 0 4px 0 10px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    content: '';
    z-index: 1;
    right: 0;
    top: 0;
}
/* cc-2 */


/* achiv */
.cc-3>.c-column {
    margin-bottom: 0 !important;
}

.b-achievement .c-image .inner a .border {
    border: none;
}
/* achiv */


/* infa */
.p-profiles-show .about .item-edit:before, .p-profiles-show .about .item-edit:after {
    margin-right: 20px;
    color: var(--color-text-hint);
}

.cc-7>.c-column, .cc-7>.c-column:last-child {
    margin-bottom: 0 !important;
}
/* infa */


.block.achievements,
#profiles_show .block:last-child,
.about.block {
    margin: 0;
    padding: 20px;
  	border-radius: var(--br);
  	box-shadow: 0 0 3px 0px #00000080;
    background-color: var(--color-menu);
    margin-bottom: 20px;
}

.block:last-child {
    margin-bottom: 0 !important;
}









/* кнопки настроек*/
.b-options-floated {
    font-size: 11px;
    line-height: 12px;
    position: absolute;
    right: 0px;
    top: -20px;
    z-index: 1;
    margin-top: 0 !important;
}

.b-options-floated a:after, .b-options-floated .link:after{
    display: none;
}

.b-options-floated a, .b-options-floated .link {
    color: var(--link-color);
    background-color: var(--color-background);
    padding: 5px 6px;
    margin-left: 5px;
    border-radius: var(--br);
}

.b-options-floated .selected {
    color: var(--color-menu);
    background-color: var(--color-main);
}
/* кнопки настроек*/




/* редизайн блокнота*/
.cm-s-solarized.cm-s-light {
    background-color: var(--color-background);
    color: var(--color-text-secondary);
    text-shadow: var(--color-menu) 0 1px;
    border-radius: var(--br);
    border-top-left-radius: 0;
}

.b-edit_styles .edit_style .style_css .CodeMirror, .b-edit_styles .new_style .style_css .CodeMirror {
    border: 0;
}

.CodeMirror-gutter{
    background-color: var(--color-background);
    border-right: 1px solid var(--color-menu);
}

.cm-s-solarized.cm-s-light div.CodeMirror-selected {
    background: var(--color-main-10);
}
/* редизайн блокнота*/



/*комменты*/
.b-quote {
    background: var(--color-background);
    border: 1px solid var(--color-border);
    color: var(--color-text-secondary);
    border-radius: var(--br);
    font-style: italic;
    margin: 5px 0 5px 5px;
    overflow: hidden;
    padding: 5px 10px;
}

.b-comment {
    border-top: 1px solid var(--color-border);
}

.b-comment>.inner .body {
    overflow: visible;
}



/* подсказка */
.tipsy{
  padding: 10px;
  font-size: 12px;
  opacity: .9 !important;
  pointer-events: none;
}
.tipsy-arrow{
  display: none;
}
.tipsy-inner{
  padding: 5px 10px;
  background-color: var(--color-background);
  border-radius: var(--br);
  box-shadow: none;
  color: #eee;
  text-align: left;
}
/* подсказка */




/* всплывающее окно аниме, манга и т.д. */
.b-tag {
    border: 1px solid var(--color-border) !important;
    color: var(--color-text-secondary);
    padding: 0px 3px !important;
    margin: 0px 1px !important;
    border-radius: var(--br);
}

.b-tag:hover {
    background-color: var(--color-main) !important;
}

.tooltip-inner .close {
    background: var(--color-menu);
}

.tooltip-inner .close:hover {
    color: red;
}

span.b-anime_status_tag {
    border-radius: var(--br);
    margin: 0px 1px;
}

.tooltip-inner {
    min-height: 3.5rem!important;
    padding: 1rem!important;
    background: var(--color-menu)!important;
    border: 0!important;
    border-radius: 2px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.24);
    color: var(--color-text-primary) !important;
    font-size: .875em;!important
    overflow: hidden;
}
.tooltip-inner {
    background: #F7F7F7;
    background: none repeat scroll 0 0 white;
    border: 1px solid #999999;
    color: #333333;
    font-size: 13px;
    height: auto !important;
    margin-top: 4px;
    min-height: 120px;
    padding: 10px;
    position: absolute;
    width: 480px;
    z-index: 2;
}

.tooltip-arrow {
    display: none;
}
/* всплывающее окно аниме, манга и т.д. */





/* Кнопки и спойлер*/
.b-form input[type=submit], .b-button, .b-poll .poll-actions .vote, .b-poll .poll-actions .abstain {
    background-color: var(--color-main);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    line-height: 24px;
    transition: .2s;
}

.b-form input[type=submit]:focus, .b-button:focus, .b-poll .poll-actions .vote:focus, .b-poll .poll-actions .abstain:focus, .b-spoiler_block>span:focus { 
    outline: none !important;
    background-color: var(--color-main-active);
}

.b-form input[type=submit]:hover, .b-button:hover, .b-poll .poll-actions .vote:hover, .b-poll .poll-actions .abstain:hover, .b-spoiler_block>span:hover {
    background-color: var(--color-main-hover);
}

.b-form input[type=submit]:active, .b-button:active, .b-poll .poll-actions .vote:active, .b-poll .poll-actions .abstain:active, .b-spoiler_block>span:active {
    background-color: var(--color-main-active);
}

.b-spoiler_block>span{
    background-color: var(--color-main);
    border-radius: 4px;
    line-height: 24px;
    transition: .2s;
}

.b-spoiler_block.is-opened>span {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.b-spoiler_block>div {
    background-color: var(--color-background);
    border-left: 0;
    border: 1px solid var(--color-main);
    border-radius: var(--br);
    border-top-left-radius: 0;
    padding: 3px 3px 3px 14px;
}
/* Кнопки и спойлер*/



/* скроллбар */
body::-webkit-scrollbar-button:vertical:start {
    height: 50px;
    background-color: var(--color-main);
    box-shadow: 0 3px 12px 2px rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track{
    width: 10px;
    height: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-main-hover)
}
::-webkit-scrollbar-thumb:active{
    background-color: var(--color-main-active)
}
::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    background-color: var(--color-main);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    width: 10px;
    height: 10px;
    background-color: transparent;
}    
/* скроллбар */


/* писать */
.b-shiki_editor .body .editor textarea {
    background-color: var(--color-menu);
    border-top: 1px solid var(--color-border) !important;
    border-bottom: 1px solid var(--color-border) !important;
    border: 0;
    border-radius: var(--br);
    -webkit-border-radius: var(--br);
    max-height: 417px;
    min-height: 31px;
}
/* писать */

.headline:hover, .midheadline:hover, .subheadline:hover {
    background: var(--headline-background-color-hover);
}
